@import "tailwindcss";

@theme {
  --animate-spin-slow: "spin 15s linear infinite";
}

@layer base {
  /* web background */
  body {
    @apply bg-black;
  }

  section {
    @apply mx-auto max-w-[600px] md:max-w-[750px] lg:max-w-[1000px];
  }

  .text-preset-1 {
    @apply text-[17px] leading-[1.65] font-light text-gray-100 md:text-[21px];
  }
}

.media li {
  @apply transition-transform hover:scale-105;
}

ul li a {
  @apply transition-all;
}

.heading {
  @apply text-[26px] font-semibold text-white md:text-[29px];
}

/* .paragraph {
  @apply text-base leading-[1.7] text-gray-200 md:text-[18px];
} */

.nav-items li a {
  @apply text-lg font-light text-gray-200 md:text-[19px];
}

.primary-btn {
  background-color: white;
}

.typed-cursor {
  font-size: 2rem; /* Change the size of the cursor */
  color: white; /* Change the color of the cursor */
  opacity: 1; /* Ensure the cursor is visible */
  animation: blink 0.7s infinite; /* Blinking animation */
  display: inline;
  z-index: -500;
}

.form label {
  @apply block w-fit text-sm font-medium text-white;
}

.form input {
  @apply w-full rounded-md border-2 border-[#2e95f0]/0 bg-[#000408] px-5 py-3.5 text-[13px] text-white transition-all duration-500 focus:border-[#2e95f0]/100 focus:outline-none disabled:bg-gray-800;
}

.form textarea {
  @apply rounded-md border-2 border-[#2e95f0]/0 bg-[#000408] px-6 py-5 text-sm text-white focus:border-[#2e95f0]/100 focus:outline-none disabled:bg-gray-800;
}

.form-error {
  @apply mt-2 text-[13px] text-red-200;
}

.footer-icon {
  @apply cursor-pointer transition-colors hover:text-blue-300;
}

html,
body {
  scroll-behavior: smooth;
}
@keyframes shrinkAndExpand {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
.spinner-container {
  animation: shrinkAndExpand 1.5s infinite ease-in-out;
}
